<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">PPS</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/machines">Maschines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders">Order</a>
      </li>
    </ul>
  </nav>